.bg-primary {
    /*background-image:url("../img/Heart_and_Soul_nebulae_for_contract-big.jpg");*/
    background-repeat:no-repeat;
    background-position: center center;
    background-size:cover
}
.thumbnail {
    position: relative;
}

.header-logo{
    max-height:2em;
    vertical-align: text-middle;
}

.page-eye-grabber{
    background-color:#18191b;
    background-image: linear-gradient(to right, #18191b, #18191b, #85396f, #18191b, #18191b );
    
    #background-image: linear-gradient(to right, #18191b,#18191b, #85396f,#18191b, #18191b, transparent 400px);
    
    #background-image: radial-gradient(at center, #18191b,#18191b, #85396f,#18191b, #18191b, transparent 100px),
                      linear-gradient(to right, #18191b,#18191b, #85396f,#18191b, #18191b, transparent 100px);
}

.img-fluid{
    max-width:10vw;
}
.nav-link{
    color:#ffffff;
    font-weight:bold;
}
.nav-link:hover{
    color:#004d00;
}

.navbar-toggler.navbar-toggler {
  border-color: #004d00;
  border-width: medium;
}
.navbar-toggler .navbar-toggler-icon {
  /*background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 204)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");*/
}
hr{
    height: 6px;
    border: 0;
    background-color:white;
    margin-bottom:0;
}

body{
  background-color:#18191b;
}

#top-row{
  background-color:#18191b;
  margin:0%;
  padding-top:1%;
  color:#ffffff;
}
.row{
  background-color:#18191b;
  margin:0%;
  color:#ffffff;
}
.row.h1{
  margin:0%;
  padding-top: 2%;
}

.container-fluid {
   background-color:#18191b;
   color:#ffffff;
   padding:7%;
   padding-top:0%;
   padding-bottom:0%
 }


.btn{
  margin:2%;
  color:#ffffff;
  background-color:#004d00;
  border-color:#004d00;
}
#email{
  color:#004d00;
}
#CC{
  color:#004d00;
}
