body{
	background:black;
	color:white;
	font-family: "Lucida Console", Monaco, monospace;
}
a, a:visited{
	color:white;
}
.title{
	background:grey;
	color:yellow;
}
.card{
	margin:0 auto;
	padding:1em;
}
.meta-test{
	background:url("https://nebulacyber.com/img/bot.png");
	min-height:250px;
	min-width:250px;
}