
body{
   background-color: black;
}

footer{
  background-color: black;
  padding-top:2%;
  padding-bottom:2%;
  margin-bottom: 0%;
}

/*header start*/

.header-logo{
    max-height:2em;
    vertical-align: text-middle;
}
/*header end*/

nav.navbar{
  background-color:#ccc;
   // Animation
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

nav.navbar.shrink {
  min-height: 35px;
}



/*carousel start */


.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    right: 0;
    left: 0;
    top: 20%;
    bottom: initial;
    padding: 30px 10px 50px;
}

.carousel-item {
  display:block;
}

.carousel-control-prev {
    opacity: 1;
    color: green;
}

/*carousel end */

/*start of bellingham */

.background {
    position: relative;
    margin: 0 auto;
    background-color: #202225;
}

.background img {vertical-align: middle;}

.background .content {
    position: absolute;
    bottom: 0;
    background: black; /* Black background with transparency */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/* end of bellingham */

/* start of meet the team */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

/* end of meet the team */

/* start of contact us */

#grad1 {
    height: 200px;
    background-color: #cccccc;
    background-image: radial-gradient(black 60%, green 20% , black 20%);
}

/* end of contact us */
